modules/eventbridge_replay_workflow/state_machine.json
{
  "Comment": "SignalForge archive replay workflow with audit logging and lifecycle polling",
  "StartAt": "RecordReplayStarted",
  "States": {

    "RecordReplayStarted": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:putItem",
      "Parameters": {
        "TableName": "${replay_audit_table_name}",
        "Item": {
          "replay_name": {
            "S.$": "$.replay_name"
          },
          "status": {
            "S": "STARTED"
          },
          "start_time": {
            "S.$": "$.start_time"
          },
          "end_time": {
            "S.$": "$.end_time"
          }
        }
      },
      "ResultPath": null,
      "Next": "StartReplay"
    },

    "StartReplay": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:eventbridge:startReplay",
      "Parameters": {
        "ReplayName.$": "$.replay_name",
        "EventSourceArn.$": "$.archive_arn",
        "Destination": {
          "Arn.$": "$.event_bus_arn"
        },
        "EventStartTime.$": "$.start_time",
        "EventEndTime.$": "$.end_time",
        "EventPattern.$": "$.event_pattern"
      },
      "ResultPath": null,
      "Next": "WaitForReplay"
    },

    "WaitForReplay": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "DescribeReplay"
    },

    "DescribeReplay": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:eventbridge:describeReplay",
      "Parameters": {
        "ReplayName.$": "$.replay_name"
      },
      "ResultPath": "$.replay_status",
      "Next": "CheckReplayState"
    },

    "CheckReplayState": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.replay_status.State",
          "StringEquals": "COMPLETED",
          "Next": "RecordReplayCompleted"
        },
        {
          "Variable": "$.replay_status.State",
          "StringEquals": "FAILED",
          "Next": "RecordReplayFailed"
        },
        {
          "Variable": "$.replay_status.State",
          "StringEquals": "CANCELLED",
          "Next": "RecordReplayFailed"
        }
      ],
      "Default": "WaitForReplay"
    },

    "RecordReplayCompleted": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
      "Parameters": {
        "TableName": "${replay_audit_table_name}",
        "Key": {
          "replay_name": {
            "S.$": "$.replay_name"
          }
        },
        "UpdateExpression": "SET #s = :status",
        "ExpressionAttributeNames": {
          "#s": "status"
        },
        "ExpressionAttributeValues": {
          ":status": {
            "S": "COMPLETED"
          }
        }
      },
      "End": true
    },

    "RecordReplayFailed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
      "Parameters": {
        "TableName": "${replay_audit_table_name}",
        "Key": {
          "replay_name": {
            "S.$": "$.replay_name"
          }
        },
        "UpdateExpression": "SET #s = :status, #r = :reason",
        "ExpressionAttributeNames": {
          "#s": "status",
          "#r": "failure_reason"
        },
        "ExpressionAttributeValues": {
          ":status": {
            "S": "FAILED"
          },
          ":reason": {
            "S.$": "$.replay_status.StateReason"
          }
        }
      },
      "Next": "ReplayFailed"
    },

    "ReplayFailed": {
      "Type": "Fail",
      "Error": "ReplayFailed",
      "Cause": "EventBridge replay reached a terminal failure or cancelled state"
    }

  }
}